.photo-grid {
  margin: 0;
  padding-top: 92px;
  padding-right: 48px;
  padding-bottom: 0;
  padding-left: 48px;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: calc(928px + (1184 - 928) * ((100vw - 1023px) / (1280 - 1023)));
    gap: calc(14px + (16 - 14) * ((100vw - 1023px) / (1280 - 1023)));
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(352px, 1fr));
    max-width: calc(720px + (928 - 720) * ((100vw - 767px) / (1023 - 767)));
    padding-top: 88px;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 24px;
    gap: calc(16px + (14 - 16) * ((100vw - 767px) / (1023 - 767)));
  }
}

@media screen and (max-width: 540px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    max-width: calc(510px + (720 - 510) * ((100vw - 540px) / (767 - 540)));
    gap: calc(12px + (16 - 12) * ((100vw - 540px) / (767 - 540)));
    padding-top: 64px;
    padding-right: 16px;
    padding-bottom: 0;
    padding-left: 16px;
  }
}
