.places {
  max-width: 984px;
  padding-top: 92px;
  padding-right: 148px;
  padding-bottom: 92px;
  padding-left: 148px;
}

@media screen and (max-width: 1023px) {
  .places {
    padding-top: 92px;
    padding-right: 78px;
    padding-bottom: 92px;
    padding-left: 78px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    padding-top: 88px;
    padding-right: 24px;
    padding-bottom: 88px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 540px) {
  .places {
    padding: 64px 0px 66px 0;
  }
}
