.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  /* min-height: 200px; */
  text-align: center;
  align-self: center;
  color: #ffffff;
  /* font-style: normal; */
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 420px;
    font-size: 60px;
    line-height: 1;
    }
}

@media screen and (max-width: 450px) {
  .lead__title {
    max-width: 321px;
    font-size: 40px;
    line-height: 1;
    }
}

@media screen and (max-width: 320px) {
  .lead__title {
    padding-top: 8px;
    }
}
