.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  text-align: center;
  align-self: center;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 670px;
    font-size: 70px;
    line-height: 1;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    max-width: 430px;
    font-size: 60px;
    line-height: 1;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    max-width: 430px;
    font-size: 40px;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
  }
}
