.lead__title {
  margin: 0;
  padding: 0;
  max-width: 720px;
  color: #ffffff;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 96px;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-align: center;
  align-self: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 670px;
    /* font-size: 70px; */
    font-size: calc(70px + (96 - 70) * ((100vw - 767px) / (1023 - 767)));
    line-height: 1;
  }
}

@media screen and (max-width: 600px) {
  .lead__title {
    max-width: 430px;
    /* font-size: 60px; */
    font-size: calc(60px + (70 - 60) * ((100vw - 600px) / (767 - 600)));
    line-height: 1;
  }
}

@media screen and (max-width: 540px) {
  .lead__title {
    max-width: 430px;
    font-size: 40px;
    line-height: 1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    /* font-size: 40px;
    line-height: 1.1; */
  }
}
