.intro {
  margin: 0 auto;
  padding-top: 92px;
  padding-right: 442px;
  padding-bottom: 0;
  padding-left: 148px;
  max-width: 690px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding-top: 92px;
    padding-right: 286px;
    padding-bottom: 0;
    padding-left: 48px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-top: 88px;
    padding-right: 24px;
    padding-bottom: 0;
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding-top: 64px;
    padding-right: 16px;
    padding-bottom: 0;
    padding-left: 16px;
  }
}
