.lead__subtitle {
  margin: 0;
  padding: 0;
  padding-top: 32px;
  max-width: 640px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  align-self: center;
  color: #ffffff;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    max-width: 400px;
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  .lead__subtitle {
    max-width: 350px;
    font-size: 18px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    /* max-width: calc(288px + (720 - 288) * ((100vw - 320px) / (768 - 320))); */
    max-width: 288px;
    font-size: 16px;
    line-height: 1.25;
    padding-top: 16px;
  }
}
