.place__link {
  margin: 0;
  padding: 0;
  max-width: 456px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: #FFFFFF;
  cursor: pointer;
}

.place__link:hover {
  opacity: 0.8;
  transition: 0.5s ease-in-out;
}
