.footer__list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  list-style-type: none;
}

@media screen and (max-width: 701px) {
  .footer__list {
    display: flex;
    justify-content: center;
    align-items:flex-start
  }
}

@media screen and (max-width: 481px) {
  .footer__list {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    row-gap: 32px;
  }
