.place {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(min-content, 300px) minmax(320px, 1fr);
  grid-template-rows: 2fr;
  column-gap: 40px;
  row-gap: 48px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1200px) {
  .place {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(min-content, 300px) minmax(320px, 1fr);
    column-gap: calc(32px + (40 - 32) * ((100vw - 1023px) / (1280 - 1023)));
  }
}

@media screen and (max-width: 880px) {
  .place {
    grid-template-columns: minmax(min-content, 340px) minmax(320px, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 1fr;
    row-gap: 32px;
    /* row-gap: calc(32px + (48 - 32) * ((100vw - 600px) / (767 - 600))); */
    column-gap: 0;
    padding-bottom: 50px;
  }
}
