.intro__title {
  margin: 0;
  padding: 0;
  max-width: 690px;
  /* min-height: 58px; */
  font-weight: 900;
  font-size: 54px;
  line-height: 1;
  color: #ffffff;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 767px) {
  .intro__title {
    max-width: 720px;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    max-width: 288px;
    font-size: calc(38px + (54 - 38) * ((100vw - 480px) / (767 - 480)));
    }
}

@media screen and (max-width: 375px) {
  .intro__title {
    font-size: calc(32px + (38 - 32) * ((100vw - 375px) / (480 - 375)));
    }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    }
}
